.story-row {
  background-color: #f6f6ef;
}

.rank-cell {
  width: 25px;
  text-align: right;
  vertical-align: top;
  padding: 2px 5px 0 0;
}

.rank {
  color: #828282;
  font-size: 10pt;
}

.vote-cell {
  width: 15px;
  vertical-align: top;
  padding: 2px 5px 0 0;
}

.vote-arrow {
  cursor: pointer;
  color: #828282;
  font-size: 10pt;
  user-select: none;
}

.vote-arrow:hover {
  color: #ff6600;
}

.vote-arrow.voted {
  color: #ff6600;
}

.story-cell {
  padding: 2px 5px 0 0;
  vertical-align: top;
}

.story-title {
  line-height: 14px;
}

.story-link {
  color: #000000;
  text-decoration: none;
  font-size: 10pt;
}

.story-link:visited {
  color: #828282;
}

.story-link:hover {
  text-decoration: underline;
}

.story-host {
  font-size: 8pt;
  color: #828282;
}

.story-host a {
  color: #828282;
  text-decoration: none;
}

.story-host a:hover {
  text-decoration: underline;
}

.story-meta-row {
  background-color: #f6f6ef;
}

.meta-cell {
  padding: 1px 5px 2px 0;
  vertical-align: top;
}

.story-meta {
  font-size: 7pt;
  color: #828282;
  line-height: 12px;
}

.score, .author, .time, .comments {
  color: #828282;
  text-decoration: none;
}

.author:hover, .time:hover, .comments:hover {
  text-decoration: underline;
}

.comments-button {
  background: none;
  border: none;
  color: #828282;
  text-decoration: none;
  cursor: pointer;
  font-size: 7pt;
  font-family: inherit;
  padding: 0;
}

.comments-button:hover {
  text-decoration: underline;
}

.separator {
  color: #828282;
}

.spacer-row {
  height: 5px;
}

.spacer {
  height: 5px;
  background-color: #f6f6ef;
}

.favorite-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 12px;
  margin-left: 8px;
  padding: 2px;
  opacity: 0.6;
  transition: opacity 0.2s;
}

.favorite-button:hover {
  opacity: 1;
}

.favorite-button.favorited {
  opacity: 1;
  filter: drop-shadow(0 0 2px #ffaa00);
}