/* Classic Hacker News Story Item Styles */
.story-row {
  background-color: #f6f6ef;
}

.rank-cell {
  width: 25px;
  text-align: right;
  vertical-align: top;
  padding: 2px 5px 0 0;
  font-family: Verdana, Geneva, sans-serif;
}

.rank {
  color: #828282;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10pt;
}

.vote-cell {
  width: 10px;
  vertical-align: top;
  padding: 2px 2px 0 0;
}

.vote-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vote-btn {
  background: none;
  border: none;
  color: #828282;
  cursor: pointer;
  font-size: 10px;
  padding: 0;
  margin: 0;
  line-height: 1;
  font-family: Verdana, Geneva, sans-serif;
}

.vote-btn:hover {
  color: #ff6600;
}

.vote-btn.upvote {
  font-size: 10px;
  line-height: 1;
  height: 10px;
  display: block;
}

.story-cell {
  padding: 0 5px 0 0;
  vertical-align: top;
}

.story-title {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10pt;
  margin-bottom: 2px;
  line-height: 12pt;
}

.story-link {
  color: #000000;
  text-decoration: none;
}

.story-link:visited {
  color: #828282;
}

.story-link:hover {
  text-decoration: underline;
}

.story-host {
  font-size: 8pt;
  color: #828282;
  font-family: Verdana, Geneva, sans-serif;
}

.story-host a {
  color: #828282;
  text-decoration: none;
}

.story-host a:hover {
  text-decoration: underline;
}

.story-meta-row {
  background-color: #f6f6ef;
}

.meta-cell {
  padding: 0 5px 5px 0;
  vertical-align: top;
}

.story-meta {
  font-size: 7pt;
  color: #828282;
  font-family: Verdana, Geneva, sans-serif;
}

.author, .time, .comments-button {
  color: #828282;
  text-decoration: none;
}

.author:hover, .time:hover, .comments-button:hover {
  text-decoration: underline;
}

.comments-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 7pt;
  font-family: Verdana, Geneva, sans-serif;
  padding: 0;
}

.separator {
  color: #828282;
}

.spacer-row {
  height: 5px;
}

.spacer {
  height: 5px;
  background-color: #f6f6ef;
}

.favorite-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 10px;
  margin-left: 5px;
  padding: 0;
  opacity: 0.6;
  transition: opacity 0.2s;
  font-family: Verdana, Geneva, sans-serif;
}

.favorite-button:hover {
  opacity: 1;
}

.favorite-button.favorited {
  opacity: 1;
  filter: drop-shadow(0 0 1px #ffaa00);
}