:root {
  font-family: 'Verdana', Geneva, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light;
  color: #000000;
  background-color: #f6f6ef;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  font-size: 10pt;
}

#root {
  width: 100%;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.loading, .error {
  padding: 20px;
  text-align: center;
  font-size: 14px;
}